header {
    width: 100%;
    text-transform: uppercase;
    font-weight: 400;

    .nav__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 1.2rem 0.8rem;
        background-color: white;

        .logo__wrapper {
            letter-spacing: 0.2rem;
            font-weight: 300;

            .logo {
                background-color: gold;
                padding: 0 0.4rem;
            }
        }

        nav {
            .navlinks__list {
                display: flex;
                align-items: center;
                padding: 0.5rem;

                a.navlinks__item,
                .cart__icon {
                    text-decoration: none;
                    color: $mainDark;
                    padding: 0 0.5rem;
                    position: relative;

                    .cart__icon {
                        background-color: $mainWhite;
                        vertical-align: top;
                        z-index: 7;

                        &::before {
                            content: url('../components//popupShopEx//assetsEtc/shopping-cart.svg');
                        }

                        &:hover {
                            background-color: gold;
                        }
                    }

                    .cart__tooltip {
                        color: $mainDark;
                        padding: 0 0.5rem;
                        background-color: $mainWhite;
                        font-size: 1em;
                        position: absolute;
                        top: -15px;
                        left: 0;
                        z-index: 4;
                        margin: 0;
                        transform: scaleX(-1);

                        &:hover {
                            background-color: gold;
                            color: $mainWhite;
                            font-weight: bold;
                        }
                    }
                }

                .navlinks__item.cart {
                    transform: scaleX(-1);
                }
            }

            .navlinks__item.edit__btn {
                background-color: $mainDark;
                color: white;
                padding: 0.4rem 0.6rem;
                border: none;
                text-transform: uppercase;
                margin: 0 0.5rem;
            }
        }
    }

    @media screen and (max-width: 600px) {
        .nav__wrapper {
            // padding: 1rem 0.5rem;
            margin: auto;

            nav .navlinks__list {
                padding: 0.5rem 0;

                .navlinks__item {
                    padding: 0;
                }

                .navlinks__item.edit__btn {
                    margin: 0;
                    display: none;
                }
            }
        }
    }
}